name: Code linting

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  format:
    name: Check code formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        working-directory: MLOps_project
        run: |
          uv sync --refresh

      - name: ruff lint check
        run: |
          uv run ruff check .

      - name: ruff format check
        run: |
          uv run ruff format .
