name: Code linting

on:
  push:
    branches:
      - main

jobs:
  format:
    name: Check code formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
    
      - name: install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"

      - name: Cache uv
        uses: actions/cache@v5
        with:
          path: ${{ env.UV_CACHE_DIR }}
          key: ${{ runner.os }}-py${{ matrix.python-version }}-uv-${{ hashFiles('MLOps_project/uv.lock') }}
            
      - name: Install dependencies
        working-directory: MLOps_project
        run: |
          uv sync --refresh --all-groups

      - name: run ruff lint check
        working-directory: MLOps_project
        run: |
          uv run ruff check .

      - name: run ruff format check
        working-directory: MLOps_project
        run: |
          uv run ruff format --check .
